- breadcrumb :client, @client
%strong
  = t('views.clients.show.name')
= @client.name
%br
%br

= link_to t('views.clients.show.buttons.new_request'), new_client_request_path(@client), class: 'btn btn-default'
= link_to t('views.clients.show.buttons.edit_client'), edit_client_path(@client),  class: 'btn btn-primary glyphicon glyphicon-pencil', title: t('views.clients.index.buttons.edit')
